PORT=5000
# Use MONGODB_URI or MONGO_URI (Render uses MONGO_URI)
MONGODB_URI=mongodb://localhost:27017/your-database-name
NODE_ENV=development

JWT_SECRET=your-super-secret-jwt-key-change-in-production
JWT_EXPIRE=7d
# دا الاصلي
# mongodb+srv://a7mdma7moud01_db_user:mohamedAfande1221@initdatabase.ainxf9r.mongodb.net/?appName=InitDatabase
